.bg-wallpaper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("img/wallpaper.jpg") no-repeat center center fixed;
    background-size: cover;

    filter: blur(6px);
    opacity: 0.65;

    z-index: -10;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    position: relative;
}

h1 {
    margin-bottom: 30px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.gallery {
    position: relative;
    width: 80%;
    max-width: 900px;
    margin: auto;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    border: 5px solid #0099ff;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.gallery img.active {
    opacity: 1;
    transform: scale(1);
    position: relative;
}

.nav-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-buttons button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    background: #0099ff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.nav-buttons button:hover {
    background: #0077cc;
}

.fullscreen-btn {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    background: #333;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.fullscreen-btn:hover {
    background: #555;
}
